.header {
	width: 100%;
	height: 100vh;
	background-color: var(--theme-color, $bg-dark);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;

	&__top {
		background-color: $color-black;
		color: $color-white;
		padding: 1.5rem 0;

		&--wrapper {
			max-width: $container-width;
			margin: 0 auto;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&--content {
			font-size: 1.6rem;
			line-height: 2;
			color: $color-white;
			font-weight: lighter;
			letter-spacing: 2px;
		}
	}

	&__colors{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 1rem;

		&--circle{
			width: 2.5rem;
			height: 2.5rem;
			border-radius: 50%;
			background-color: $color-white;
			cursor: pointer;
			border: 1px solid currentColor;

			&.header__colors--green{
				background-color: $color-green;
				color: $color-green;
			}

			&.header__colors--red{
				background-color: $color-red;
				color: $color-red;
			}

			&.header__colors--blue{
				background-color: $color-blue;
				color: $color-blue;
			}

			&.header__colors--default{
				background-color: $bg-dark;
				color: $bg-dark;
			}
		}
	}

	&__main {
		display: flex;
		height: inherit;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&--description {
			font-size: 3rem;
			line-height: 2;
			color: $color-white;
			font-weight: lighter;
			letter-spacing: 5px;
			text-transform: capitalize;
		}
	}
}